.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.meniu_style{

  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;

}

.link_style{

  color: white;
  font-weight: bold;
  text-decoration: none;
}

#searchBox{

  margin-top: 50px;
  margin-left: 40%;
  vertical-align:middle;


}

#searchButton{

  margin-top:10px;
  margin-left: 10px;
  background-color:green;
  color:white;
  font-weight: bold;
}

#editButton{

  margin-top:10px;
  margin-left: 10px;
  background-color:blue;
  color:white;
  font-weight: bold;
}

#deleteButton{

  margin-top:10px;
  margin-left: 10px;
  background-color:red;
  color:white;
  font-weight: bold;
}

#ListOfWorks{

  margin-left: 200px;
  width: 700px;
  border-collapse: collapse;
 
}

#ListOfWorks th{

  background-color:whitesmoke;

}

#ListOfWorks tr{

  height: 50px;

}

#ListOfWorks td{

  text-align:center;

}

#ListOfWorks caption{
  padding: 25px;
  font-weight: bold;
}

#formular{

  margin-top: 200px;
  margin-left: 500px;
  width: 300px;

}

#titlu_formular{

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}

#formular input[type='text']{

  height: 25px;
  width: 300px;
  margin-bottom: 5px;
  height:35px;

}

#formular input[type='button']{
  margin-top: 25px;
  margin-left: 50px;
  height: 25px;
  width: 75px;
  background-color:rgb(218, 223, 189);
  cursor:pointer;
  font-weight: bold;
  
}

#AddButton{

  margin-top: 100px;
  margin-left: 700px;
  background-color: green;
  color: white;
  font-weight: bold;
}
